{% extends "base.html" %}

{% block content %}
<h2>About</h2>
Ever get frustrated programming, yeah me too. Well this is a site built around user generated <a href="http://en.wikipedia.org/wiki/Rage_comics">rage comics</a>. They are meant to share frustrations and have a good laugh.

<h2>Adding Your Own</h2>
<p>You can submit a rage comic by simply clicking the <a href="/submit/">Submit a Rage</a> button at the top and uploading a comic. We will run them through our moderation queue to make sure they are in some way related to developers.</p>
<p>You can generate your own rage comics on many different sites we tend to use <a href="http://www.ragemaker.net/">Rage Maker</a>. They are simple, fun and easy to make.</p>

<h2>Authors and the Site</h2>
<p>The idea for <a href="http://developerrage.com/">Developer Rage</a> came from <a href="http://groovecoder.com/">Luke Crouch</a>. He handed the idea off to me, <a href="http://buddylindsey.com">Buddy Lindsey</a>, and I decided to run with it a bit to see what would happen.</p> 
<p>If you would like to help develop the site further you are welcome to submit pull requests to the <a href="https://github.com/buddylindsey/developerrage">developer rage github repository</a> since it is open source.</p>
{% endblock %}
