{% extends "base.html" %}

{% block content %}
<div class="comic-container">
    <div class="title">
        {{ comic.title }}
    </div>
    <div class="image">
        <img src="{{ comic.image_url }}" />
    </div>
    <div class="add-this">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ef625c743f2fea7"></script>
        <!-- AddThis Button END -->
    </div>
</div>
{% endblock %}
